/* animations */

@keyframes rotate{                       /* animation to make the ring and text rotate */
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotate1{                       /* animation to make the ring and text rotate */
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes increase_size{              /* animation to increase the size of the logo and of the ring */
    from{
        transform:scale(1);
        opacity: 1;
    }
    to{
        transform:scale(6);
        opacity: 0;
    }
}


:root{                                             /* variables */
    --animation-duration: 60s;
}

body{
    position: relative;
    display: flex;              /* these 4 lines are for centering the logo */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.logo{
    width: 20vw;   /* these 2 lines are for the size of the logo */
    height:auto;
    animation: increase_size 2s linear forwards;
}

.smaller_logo{
    width: 20vw;   /* code for making the code smaller when the return button is clicked */
    height:auto;
    animation: increase_size 2s linear reverse;
}
.ring {
    position: absolute;      /* the ring around the logo which has the categories of programming that I do inside */
    height: 37vw;
    width: 37vw;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1vw rgba(255, 255, 255, 0.322);
    opacity:1;
    z-index: 1;
    animation: rotate 60s linear infinite;    /* the animation logic */
}

.bigger {
    position: absolute;      /* class for making the ring bigger when clicked */
    height: 37vw;
    width: 37vw;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1vw rgba(255, 255, 255, 0.322);
    opacity:1;
    z-index: 1;
    animation: increase_size 2s linear forwards;
}

.smaller {
    position: absolute;      /* class for making the ring smaller when clicked */
    height: 37vw;
    width: 37vw;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1vw rgba(255, 255, 255, 0.322);
    opacity:1;
    z-index: 1;
    animation: rotate 60s linear infinite;
}
.category{
    position: absolute;      /*the logic for making the categories of development be circles*/
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5vw;
    opacity: 1 !important;
    
    animation: rotate var(--animation-duration) linear infinite reverse;      /* logic for not making the text rotate too */
}

.slower {
    position: absolute;      /* class for the category when the return button is clicked */
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5vw;
    opacity: 1 !important;
        
    animation: rotate1 60s linear infinite reverse;
}
#game_dev{    
    background-color: rgb(138, 46, 46);             /* logic for positioning the initial positions of the categories and coloring them */
    opacity: 1 !important;
    bottom: 0vw;
    right: 0vw;
}

#ai_dev{
    background-color: rgb(33, 33, 119);
    opacity: 1 !important;
    top: 0vw;
    right: 0vw;
}

#web_dev {
    background-color: rgb(41, 129, 41);
    opacity: 1 !important;
    top: 0vw;
    left: 0vw;
}

#miscellaneous {
    background-color: rgb(119, 119, 42);
    opacity: 1 !important;
    bottom: 0vw;
    left: 0vw;
}
.project{                                     /* project div style */
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    top: 10%;
    left: 10vw;
    margin-right: 10vw;
    width: 25vw;
    height: 75vh;
    background-color: #7D3333;
    border-radius: 3vw;
    object-fit: cover;
    display: inline-block;
    color: white;
    pointer-events: all !important;
    z-index: 4;
    animation: increase_size 2s linear forwards
}

.project img{                            /* code to make the image fit in the project div */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    height: 40vh;
    width: 100%;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px;
    overflow-x: auto;
}
.project_p, h1{                           /* code specific to the text to make it look better */
    margin-top: 2vw;
    position: relative;
    font-size: x-large;
    z-index: 2;
    max-width: 100%;
}

.project h1{
    font-size: 2vw;
    font-weight: lighter;
}

#return{
    position: absolute;
    text-decoration: none;
    top: 5vh;
    right: 5vh;
    color: #919191;
    z-index: 3;
}

#return:hover{
    color: #818181;
}

.project_link{
    width: 7vw;
    height: 4vw;
    background-color: rgb(105, 0, 0);
    color: white;
    border-radius: 3vh;
    font-size: 1vw;
    text-decoration: none;
    box-shadow: none;
    border: none;
    z-index: 5 !important;
    pointer-events: all !important;
}

@media (orientation: portrait){
    .ring{
        height: 70vw;
        width: 70vw;
        border: solid 2.5vw rgba(255, 255, 255, 0.322);
    }

    .category{
        height: 23vw;
        width: 23vw;
        font-size: 3vw;
    }

    .logo{
        height: 35vw;
        width: 35vw;
    }

    .project{
        margin-right: 12.5vw;
        width: 75vw;
        height: 85vh;
        border-radius: 3vh;
    }

    .project_link{
        width: 25vw;
        height: 10vw;
        font-size: 3vw;
    }

    #return{
        top: 3vh;
        right: 3vh;
    }
}