{% extends 'portfolio_templ/templates.html' %}
{%load static%}
{% block body %}
    {{ block.super }}
    <script src="{% static 'portfoliov3/script.js' %}"></script> <!-- the script of the webapp -->
    <img src="{% static 'portfoliov3/images/logo.png' %}" id="logo" class="logo"> <!-- logo image -->

    <div class="ring">                                        <!-- the ring around the logo and the categories of programming that I do -->
        <div class="category" id="game_dev">Game Dev</div>
        <div class="category" id="ai_dev">AI Dev</div>
        <div class="category" id="web_dev">Web Dev</div>
        <div class="category" id="miscellaneous">miscellaneous</div>
    </div>

    <div class="big_ring"></div>
    <a id = "return">Return to homepage</a>
{% endblock %}
