{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfoliov3/styles.css' %}">
    <title>Portfolio</title>
    <link rel="icon" href="{% static 'portfoliov3/images/logo.png' %}" type="image/x-icon">
</head>
<body>
    {% block body %}
    <div class="project">
        <img id ="project_image">
        <h3></h3>
        <p></p>
    </div>
    {% endblock %}
</body>
</html>