{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfoliov3/styles.css' %}">
    <title>Portfolio</title>
    <link rel="icon" href="{% static 'portfoliov3/images/logo.png' %}" type="image/x-icon">
</head>
<body>
    {% block body %}
    <div class="projects-container">
        {% for item in items %}
            {% if item.category == "ai" %}
                <div class="project ai">
                    <img src="{{ item.image.url }}" id ="project_image">
                    <h2>{{item.title}}</h2>
                    <p>{{item.short_description}}</p>
                </div>
            {%endif%}
            {% if item.category == "game" %}
                <div class="project game">
                    <img src="{{ item.image.url }}" id ="project_image">
                    <h2>{{item.title}}</h2>
                    <p>{{item.short_description}}</p>
                </div>
            {%endif%}
            {% if item.category == "web" %}
                <div class="project web">
                    <img src="{{ item.image.url }}" id ="project_image">
                    <h2>{{item.title}}</h2>
                    <p>{{item.short_description}}</p>
                </div>
            {%endif%}
            {% if item.category == "miscellaneous" %}
                <div class="project miscellaneous">
                    <img src="{{ item.image.url }}" id ="project_image">
                    <h2>{{item.title}}</h2>
                    <p>{{item.short_description}}</p>
                </div>
            {%endif%}
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>